.row
  .twelvecol
    %h2 Vad har du för krav?
    %p Mon7 anpassar DMKS efter dina behov, därför är det viktigt att du innan du beställer vet om vad vi kan göra för att anpassa systemet till din organisation. Om du är intresserad av anpassning kontakta oss via frågeformuläret till höger.
    %h3 Byt kostym!
    %p För många organisationer spelar det roll hur saker serut och känns. DMKS kan däför enkelt anpassas för att attrahera den målgrupp just din organisation riktar sig mot. Det går givet vis också att anpassa hur känns för de administrativa användarna.
    %h3 Medlems information
    %p Alla organisationer vill lagra olika information om sina medlemmar med dmks är detta inget problem. Detta anpassas enkelt efter varje kunds behov och går även att ändra efter att installationen gjorts.
    %h3 Avancerade funktioner
    %p DMKS kommer med ett stort antal funktioner i basutbudet, är din organisation intresserad av andra funktioner kan Mon7 special anpassa dessa just för er. Vi är duktiga inom IT och kan ge er förslag på lösningar på alla typer av problem.

