.row
  .twelvecol
    %h2 Vad har du för krav?
    %p Mon7 anpassar DMKS efter dina behov, kontakta oss så kan vi informera om vad man kan göra för att anpassa systemet till din organisation. Om du är intresserad av anpassning kontakta oss via frågeformuläret till höger.
    %h3 Byt kostym!
    %p För många organisationer spelar det roll hur saker ser ut och känns. DMKS kan däför enkelt anpassas för att attrahera den målgrupp just din organisation riktar sig mot. Det går också att anpassa hur DMKS fungerar för de administrativa användarna.
    %h3 Medlemsinformation
    %p Alla organisationer vill lagra olika information om sina medlemmar med DMKS är detta inget problem. Vi anpassar enkelt informationen som lagras efter varje kunds behov. Detta går även att ändra efter att systemet tagits i bruk.
    %h3 Avancerade funktioner
    %p DMKS kommer med ett stort antal funktioner i basutbudet, är din organisation intresserad av andra funktioner kan Mon 7 specialanpassa dessa just för er. Vi är duktiga inom IT och kan ge er förslag på lösningar på alla typer av problem.

