.row
  .twelvecol
    %h2 Här hittar du svar!
    %p På denna sida har vi samlat svaren på de vanligaste frågorna. Om du inte hittar de svar du söker kan du kontakta oss via formuläret till höger.
    %ul
      %li
        .question
          %h3 Kan jag testa DMKS gratis?
        .answer
          %p 
            DMKS är gratis att testa, för att komma igång och testa går du till vår 
            %a{:href => "/testa"} Testsida
            och följer instruktionerna.
      %li
        .question
          %h3 Behöver jag en server för att köra DMKS?
        .answer
          %p Nej, DMKS är molnbaserat vi står alltså för allt som har med installation och servrar att göra.
      %li
        .question
          %h3 Behöver jag en egen domän för att köra DMKS?
        .answer
          %p Nej, men om du vill registrerar vi en domän åt dig men det går även att köra DMKS på en subdomän till dmks.se .
      %li
        .question
          %h3 Hur går jag tillväga för att beställa DMKS?
        .answer
          %p För att beställa DMKS måste du komma i kontakt med våra säljare. Det lättaste sättet att göra det är att du fyller i dina kontakt uppgifter i frågeformuläret till höger.
      %li
        .question
          %h3 Hur kan jag anpassa DMKS efter min organisation?
        .answer
          %p 
            Det går att anpassa DMKS en hel del, både funktions- och utseendemässigt. För att få reda på mer om vad vi kan göra kan du kontakta oss, via frågeformuläret till höger. Du kan även läsa mer om att anpassa DMKS under fliken 
            %a{:href => "/anpassa"} Anpassa
            \. Om DMKS inte verkar vara ett system för dig så utvecklar mon7 även andra anpassade system, från grunden. 
            %a{:href => "http://www.mon7.se"} Mon 7 Consultings hemsida
            hittar du här.

      %li
        .question
          %h3 Vilken kringutrustning krävs för att använda DMKS?
        .answer
          %p 
            Det krävs ingen extra utrustning för att använda systemet. Det går dock att installera kortläsare och kort för att göra medlemshanteringen smidigare. 

      %li
        .question
          %h3 Vart kan jag få tag på kortläsare och plastkort?
        .answer
          %p Mon 7 Consulting tillhandahåller både kortläsare och medlemsampassade kort. Korten beställs av oss via systemet allt eftersom att medlemmar registrerats.
      %li
        .question
          %h3 Vad kostar DMKS?
        .answer
          %p Systemet kostar olika mycket beroende på anpassningsgrad, efter anpassningen kostar systemet lite varje månad. För att vi ska kunna ge dig ett pris behöver vi veta mer om hur du vill anpassa systemet. Skicka in dina kontaktuppgifter till oss via frågeformuläret till höger så ringer vi upp dig.
      %li
        .question
          %h3 Vilka andra system erbjuder Mon 7 Consulting?
        .answer
          %p 
            %a{:href => "http://www.mon7.se"}Mon 7 Consulting AB
            jobbar just nu på flera system bland annat: 
            %a{:href => "http://www.sekura.nu"}Sekura - Systematiskt brandskyddsarbete
            och AnimalData - Komplett verksamhetssystem för djurkliniker. Undrar du mer om något av dessa projekt är du välkommen att 
            %a{:href=>'http://www.mon7.se/kontakt-oss'} kontakta oss
            \.
