.row
  .twelvecol
    %h2 Här hittar du svar!
    %p På denna sida har vi samlat svaren på de vanligaste frågorna. Om du inte hittar de svar du söker kontakta oss via formuläret till höger.
    %ul
      %li
        .question
          %h3 Vad kostar DMKS?
      %li
        .question
          %h3 Kan jag testa DMKS gratis?
      %li
        .question
          %h3 Behöver jag en server för att köra DMKS?
      %li
        .question
          %h3 Behöver jag en egendomän för att köra DMKS?
      %li
        .question
          %h3 Hur går jag tillväga för att beställa DMKS?
      %li
        .question
          %h3 Hur kan jag anpassa DMKS efter min organisation?
      %li
        .question
          %h3 Vilken kring utrustning krävs för att använda DMKS?
      %li
        .question
          %h3 Vart kan jag få tag på kortläsare och plastkort?
