.row
  .twelvecol
    %h2 Funtioner i DMKS
    %p DMKS erbjuder ett starkt basutbud av funktioner för att hantera medlemmar, aktiviteter och utskick. Här kan du ta en närmare titt på vad som redan finns i DMKS. Givetvis går systemet att vidareutveckla för att fungera med alla typer av organisationer. Information om att anpassa DMKS hittar du här.
    %ul#funktioner
      %li.even
        %img.left{:src => "/images/icons/user.png", :alt => "Medlemsregistrering"}
        %h3 Medlemsregistrering
        %p Som admin kan du enkelt registrera medlemmar och administratörer i systemt. Ett email skickas sedan ut med uppgifter om hur användaren går vidare för att loggain. Det går givetvis att anpassa de data som registreras om medlemmar eller administratörer efter vad just era behov är.
      %li
        %img.left{:src => "/images/icons/visit.png", :alt => "Besöksregistrering"}
        %h3 Besöksregistrering
        %p Besöksregistrering sker genom att enkelt genom att en medlem drar sitt kort och väljer vilken aktivitet de vill delta i. Registrering kan också ske via en disk där en administratör drar medlemskortet och registrerar medlemmen och aktiviteten som den vill boka.
      %li.even
        %img.left{:src => "/images/icons/card.png", :alt => "Medlemskort"}
        %h3 Medlemsanpassade kort
        %p När du beställer DMKS kan du också beställa medlemsanpassade kort dessa kort kan innehålla vilka data du vill om medlemmen. Du kan själv designa medlemskorten, vi sköter allt med tryck av medlemskort. Det enda du behöver göra är att lägga en ny order via DMKS när du sammlat upp ett antal medlemmar som du vill trycka kort för.
      %li
        %img.left{:src => "/images/icons/webb.png", :alt => "webbaserat"}
        %h3 Webbaserat
        %p DMKS är helt webbaserat detta betyder att du som kund inte behöver besvära dig med installationer eller servrar. DMKS är plattformsoberoende och fungerar i de flesta moderna webbläsare och telefoner.
      %li.even
        %img.left{:src => "/images/icons/mail.png", :alt => "Utskick"}
        %h3 Medlemsutskick
        %p Att göra medlemsutskick från DMKS är både enkelt och Kraftfullt. Du kan med vårt verktyg välja ut specifika grupper bland dina medlemmar. Utskicken kan sedan göras via email eller sms, som standard.
      %li
        %img.left{:src => "/images/icons/statistics.png", :alt => "Statistik"}
        %h3 Statistik
        %p Du kan enkelt hålla reda på antalet besökare under olika perioder med det inbyggda statistiksystemet. Här kan du snabbt och enkelt få en översikt över hur många besök du haft under en vissperiod. Statistiken kommer i frammtiden att utvecklas och bli kraftfullare, men redan nu kan du hålla koll på besökare och besök och sortera dessa i olika kategorier.
