.row.overflow
  .twelvecol#holder.overflow
    %h2 Funtioner i DMKS
    %p DMKS erbjuder ett starkt basutbud av funktioner för att hantera medlemmar, aktiviteter och utskick. Här kan du ta en närmare titt på vad som redan finns i DMKS. Givetvis går systemet att vidare utveckla för att fungera med alla typer av organisationer. Information om att anpassa DMKS hittar du här.
    %ul
      %li
        %h3 Medlemsregistrering
      %li
        %h3 Besöksregistrering
      %li
        %h3 Korthantering
      %li
        %h3 Webb-baserat
      %li
        %h3 Medlemsutskick
      %li
        %h3 
