.row.overflow
  .twelvecol#holder.overflow
    %ul#banner
      %li
        %h1 DMKS
        %h2 Digitalt medlemskortsystem 
        %p DMKS är ett kortsystem för organisationer som hanterar besöksregistrering, medlemsregister, aktiviteter, statistik, medlemsutskick med mera.
      %li
        %h2 Beställ egendesignade plastkort!
        %p Du kan designa dina egna klubbkort. Vi trycker valfria medlemsuppgifter på korten och skickar dem till er på beställning.
      %li#medlem
        %h2 Medlemsutskick
        %p Att göra medlemsutskick från DMKS är både enkelt och kraftfullt. Du kan med vårt verktyg välja ut specifika grupper bland dina medlemmar. Utskicken kan sedan göras via till expempel email eller sms.
      %li
        %h2 Statistik
        %p Du kan enkelt hålla reda på antalet besökare under olika perioder med det inbyggda statistiksystemet. Här kan du snabbt och enkelt få en översikt över hur många besök du haft under en viss period. Det går även att dela in statistiken i olika kategorier baserat på till exempel aktiviteter eller medlemsegenskaper. 
      %li
        %h2 Medlemsidor
        %p Varje medlem kan se sin bonus och hantera sina uppgifter och inställningar via medlemssidorna.
.row
  .twelvecol#func
    %h2 Funktioner
.row
  .twelvecol#customers
    %h2 Våra kunder
