.row.overflow
  .twelvecol#holder.overflow
    %ul#banner
      %li#mon7
        %h1 Mon7 Consulting AB
        %h2 - IT lösningar för er organisation
        %p
      %li#agile
        %h2 Agila arbetsmetoder
        %p Anpassa inte organisationen efter verktygen. Låt istället oss anpassa er IT efter era rutiner. Vi har kontinuerlig kontakt med kunden under utvecklingen, från början till slut så att kunden får precis det systemet de behöver. 
      %li#scale
        %h2 Skalbarasystem
        %p Mon7 är måna om att er organisation ska tåla att växa. Därför utvecklar vi system som lätt kan skalas om. Våra system är modulära och kan enkelt byggas om för att passa era behov.
      %li#cloud
        %h2 Webb baserat
        %p Mon7 är duktiga på att utveckla webb baserade system, vi utvecklar redundanta system så att du slipper nertid. Med molnabaserade lösningar undviker du privata servrar och dyr support. Vi söker alltid licensfria lösningar vilket gör våra priser konkurenskraftiga.
.row
  .twelvecol#valkommen
    %h2 Special utvecklade IT-system för er verksamhet
    %p Vi utför IT konsulttjänster till privata företag och offentlig förvaltning. Genom stor lyhördhet för våra kundernas behov kan kostnadseffektiva, skräddarsydda administrativasystem utvecklas, till våra kunder. Vi tillhandahåller drift och underhåll av servrar. Förtroende och pålitlighet är ledord i vår relation till våra kunderna.
    %p Är du ute efter IT-specialister som håller vad de lovar och inte lovar för lite, då har du hittat rätt. Kontakta oss gärna för rådgivning om ditt projekt. 
    %p

