.row.overflow
  .twelvecol#holder.overflow
    %ul#banner
      %li#mon7
        %h1 Mon7 Consulting AB
        %h2 - IT lösningar för din organisation
        %p
      %li
        %h2 Agila arbetsmetoder
        %p Anpassa inte arbetsätten eller organisationen efter verktygen. Låt istället oss anpassa IT-verktygen efter era rutiner. Vi har kontinuerlig kontakt med kunden under hela utvecklingen, från början till slut så att kunden får precis det systemet de eftersöker. 
      %li
        %h2 Skalbarasystem
        %p Mon7 är måna om att din organisation ska tåla att växa. Därför utvecklar vi system som lätt kan skala upp. Våra system är också modulära och kan enkelt byggas om för att passa just din organisations behov.
      %li
        %h2 Webb baserat
        %p Mon7 är duktiga på att utveckla webb baserade system, vi utvecklar redundanta system så att du slipper ner tid eller privata servrar. Vi är duktiga på att hitta licensfria lösningar vilket gör våra priser konkurenskraftiga.
.row
  .twelvecol#valkommen
    %h2 Special utvecklade IT-system för din verksamhet
    %p Vi utför IT konsulttjänster till privata företag och offentlig förvaltning. Genom stor lyhördhet för våra kundernas behov kan kostnadseffektiva, skräddarsydda administrativasystem utvecklas, till våra kunder. Vi tillhandahåller drift och underhåll av servrar. Förtroende och pålitlighet är ledord i vår relation till våra kunderna.
    %p Är du ute efter IT-specialister som håller vad de lovar och inte lovar för lite, då har du hittat rätt. Kontakta oss gärna för rådgivning om ditt projekt. 
    %p

