.row.overflow
  .twelvecol#holder.overflow
    %ul#banner
      %li
        %h1 Mon7 Consulting AB
        %h2 - IT lösningar för din organisation
        %p
      %li
        %h2 Vi arbetar agilt
        %p Verksamhetsystem 
        %img#cards{:src => "/images/Cards.png"}
      %li
        %h2 Molnbaserade lösningar
        %p
      %li
        %h2 Eneas
        %p
        %img#stat-img{:src => "/images/stat.png"}
.row
  %a.nohover{:href => "/funktioner"}
    .twelvecol#func
.row
  .twelvecol#customers
    %h2 Våra kunder
