.row.overflow
  .twelvecol#holder.overflow
    %ul#banner
      %li
        %h2 DMKS
        %h3 Digitalt medlemskortsystem för din organisation
        %p DMKS är ett besöksregistreringssystem, som hanterar medlemmar, aktiviteter, medlemsutskick, medlemskap med mer. Systemet är enkelt att använda och kan anpassas för att passa just din organisation.
      %li
        %h2 Beställ egendesignade plastkort!
        %p DMKS går att beställa med kortläsare och medlemsanpassade plastkort med er egen design. Kontakta oss för att få reda på mer om hur detta går till.
      %li#medlem
        %h2 Medlemsutskick
        %p DMKS har avancerade funktioner för att göra utskick till grupper av medlemmar. Dessa utskick kan ske via email eller sms. Det går givetvis att koppla in er egen sms-gateway. Här kan du läsa mer om medlemsutskick.
      %li
        %h2 Statistik
        %p Med DMKS får du enkelt tillgång till statistik över dina besök. Du kan enkelt generera excellfiler för olika perioder eller grupper av medlemmar.
.row
  .twelvecol#func
    %h2 Funktioner
.row
  .twelvecol#customers
    %h2 Våra kunder
