.row
  .twelvecol.padd
    %h2 Kontakta oss
    %p.adress Mon 7 Consulting AB
    %p.adress
      Telefon: +46 70 367 11 20
    %p.adress
      Besöksadress: Westmansgatan 37 2 tr, 582 16 Linköping
    %p.adress
      Orgnr. 556724-0782
.row
  .twelvecol.even
    %h3 Med arbetare
    %p Söker du en särskilld medarbetare? Här hittar du våra personliga telefonummer och emailadresser.
    %form#error_form{:method => "GET", :action => "/mail"}
      .contact
        %label Staffan Hörberg - VD
        %p.adress Telefon: +46703671120
        %p.adress email: staffan@mon7.se
      .contact
        %label Carl Hörberg - Systemutvecklare
        %p.adress Telefon: +46702270833
        %p.adress email: carl@mon7.se
      .contact
        %label Magnus Hörberg - Systemutvecklare
        %p.adress Telefon: +46738123954
        %p.adress email: magnus@mon7.se
      .contact
        %label Martin Andersson - Systemutvecklare
        %p.adress Telefon: +46704565865
        %p.adress email: martin@mon7.se
      .contact
        %label Hans Jansson - Systemutvecklare
        %p.adress Telefon: +46703671120
        %p.adress email: hasse@mon7.se
      %p
