!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title= @title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/css/1140.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    /[if lte IE 9]
      %link{:href => "/css/ie.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
  %body
    .container#hd
      .row
        .fivecol
          %h1 DMKS
          .subtitle Medlemskort system för din organisation
        .sevencol.last
          %ul#menu
            -@menu.each do |path, name|
              %li{:class => request.path == path ? :active : nil }
                %a{:href => path}= name
    .container#bd
      .row
        .twelvecol
      !=yield
    .container#ft
      .row
        .twelvecol
          Utvecklat av 
          %a{:href => 'http://www.mon7.se'}
            Mon7 Consulting AB
