!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title DMKS - Digitalt medlemskortsystem
    %meta{:content => "Mon7.se", :name => "Author"}
    %meta{:content => "Mon7", :name => "Publisher"}
    %meta{:content => "Mon7", :name => "Copyright"}
    %meta{:content => "5 days", :name => "Revisit-After"}
    %meta{"HTTP-EQUIV" => "Expires", :content => "no-expire"}
    %meta{:content => "medlemskortsystem,plastkort,medlemssystem,bokningssystem,medlemskort,plastkort,medlem,kortsystem,kort,VIP kort,besöksregistrering,besökssystem,aktiviteter,mjukvara,internetbaserat,molnbaserat,mon7,medlemsstatistik,statistik,digitalt kortsystem,fritidsgårdsystem,medlemsregister,ungdomsgårdsystem,ungdomsgård,fritidsgård", :name => "Keywords"}
    %meta{:content => "DMKS - Digitalt medlemskort system är ett molnbaserat besöksregistrerings system anpassat för klubbar med olika aktiviteter. Systemet kan anpassas för att fungera med just din verksamhet.", :name => "Description"}
    %meta{:content => "Software", :name => "Pagetopic"}
    %meta{:content => "Produktinfo", :name => "Pagetype"}
    %meta{:content => " All", :name => "Audience"}
    %meta{:content => "INDEX,FOLLOW", :name => "Robots"}
    %meta{:content => "Svenska, Swedish", :name => "Content-Language"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/1140.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    /[if lte IE 9]
      %link{:href => "/css/ie.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "js/slider/css/anythingslider.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/slider/js/jquery.anythingslider.min.js"}
    %script{:src => "/js/init.js", :type => "text/javascript"}
    %script{:async => "", :src => "http://www.google-analytics.com/ga.js", :type => "text/javascript"}  
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18633595-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container#hd
      .row
        .eightcol.last
          %img#imglogo{:src => "/images/dmks-logo.png"}
          %h1#logo Digitalt medlemskortsystem
          %h2#slogan - Håll ordning på dina medlemsbesök online!
      .row
        .twelvecol.last
          %ul#menu
            -@menu.each do |path, name|
              %li{}
                %a.button{:class => request.path == path ? :active : nil, :href => path}= name
    .container.overflow
      .row
        .eightcol#bd
          !=yield
        .fourcol.last
          .row#contact
            .twelvecol.last
              %h2 Fråga oss någonting...
              %p Undrar du hur vi kan hjälpa just dig, om våra priser eller hur vi kan anpassa DMKS för dina ändamål? Skicka oss dina uppgifter så hör vi av oss snart.
              %form#contact_form{:method => "GET", :action => "/mail"}
                .field
                  %label Namn:
                  %input{:name => "name"}
                .field
                  %label Företag:
                  %input{:name => "company"}
                .field
                  %label Telefon:
                  %input{:name => "tel"}
                .field
                  %label E-post:
                  %input{:name => "email"}
                .field
                  %input{:type => "hidden",:name => "subject",:value => "[DMKS callme request]"}
                  %button{:type => "submit"}
                    Kontakta mig!
          .row#twitter
            .twelvecol.last
              %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
              :javascript
                new TWTR.Widget({
                  version: 2,
                  type: 'profile',
                  rpp: 5,
                  interval: 6000,
                  width: 'auto',
                  height: 254,
                  theme: {
                    shell: {
                      background: '#cecece',
                      color: '#ff5533'
                    },
                    tweets: {
                      background: '#ffffff',
                      color: '#333',
                      links: '#ff5533'
                    }
                  },
                  features: {
                    scrollbar: true,
                    loop: true,
                    live: true,
                    hashtags: true,
                    timestamp: false,
                    avatars: false,
                    behavior: 'default'
                  }
                }).render().setUser('dmks_mon7').start();

    .container#ft
      .row
        .twelvecol
          %p 
            Utvecklat av 
            %a{:href => 'http://www.mon7.se'}
              Mon7 Consulting AB
