%h2 Vi ringer upp dig snart!
%p Tack för visat intresse!
%p Ett mail har skickats till vår informations avdelning och vi kommer kontakta dig snarast. Medans du väntar på svar får du gärna titta runt på vår hemsida, här finns det mycket information om DMKS och vad vi ervjuder för tjänster. Du kan också besöka vår twitter och skicka en kommentar.
%p 
  På  
  %a{:href => "http://www.mon7.se"} Mon7:s hemsida
  finns det mer information om oss och våra andra tjänster. Där finns även ytterligare kontakt uppgifter om du vill komma i kontakt med oss snarast.
