.row.overflow
  .twelvecol#tour.overflow
    %ul#banner
      %li
        %h2 Animaldata
        %img{:src => "/images/screens/animaldata.png"}
        %p Animaldata är ett komplett verksamhetsystem för vetrinärkliniker som mon7 utvecklar. Systemet utvecklas i ruby och är helt webbaserat.
      %li
        %h2 DMKS - Digitalt medlemskortsystem
        %img{:src => "/images/screens/dmks.png"}
        %p DMKS är ett system för att hantera medlemskort och registrering av aktiviteter. Systemet utvecklades för uppsala fritidsgårdar. I systemet kan medlemar registreras dessa får ett medlemskort som de sedan använder för att sammla in bonus som de kan köpa aktiviteter för.
      %li
        %h2 Eneus
        %img{:src => "/images/screens/eneus.png"}
        %p Energi uppföljnings system för Eneas energy. Används för att följa upp åtgärder som gjorts för att minska energiåtgången.
      %li
        %h2 Sekura
        %img{:src => "/images/screens/sekura.png"}
        %p Sekura är ett system som hjälper fastighetsägare att automatisera sitt systematiska brandskyddsarbete. Applikationen gör det enkelt att skapa cheklistor för brandskydds-kontroller och att följa upp dessa. Fastigheter kan lätt sorteras i grupper och kan tilldelas olika typer av kontroller. 
