.row.overflow
  .twelvecol#tour.overflow
    %ul#banner
      %li
        %h2 Menysystem
        %img{:src => "/images/screens/meny.png"}
        %p När du loggar in som administratör kommer du direkt till menysystemet, här ifrån hittar du enkelt vidare till alla funktioner du vill använda.
      %li
        %h2 Lägga till medlemmar
        %img{:src => "/images/screens/ny-medlem.png"}
        %p För att lägga till en ny medlem fyller du i medlemens uppgifter i ett formulär. Du ser enkelt om några uppgifter fyllts i felaktigt och kan snabbt korrigera om något blivit fel. Nya medlemmar får automatiskt email om hur de loggar in och använder systemet.
      %li
        %h2 Söka medlemmar
        %img{:src => "/images/screens/sok-medlem.png"}
        %p Du kan snabbt och enkelt söka bland alla dina medlemmar. Sökningarna sker i realtid och går att göra i alla fält. Du kan även sortera dina sökresultat efter valfritt fält.
      %li
        %h2 Registrera besök
        %img{:src => "/images/screens/registrera.png"}
        %p När du dragit ett kort eller valt en medlem ur sökresultaten kan du registrera denne på en aktivitet eller ett besök. Du kan från den här vyn också redigera eller blockera medlemmen, beställa nytt kort eller medlemskap. Du kan även se och redigera medlemmens besökshistorik.
      %li
        %h2 Aktiviteter 
        %img{:src => "/images/screens/aktiviteter.png"}
        %p Aktiviteter och intressen kan redigeras och letas fram precis lika enkelt som medlemmar.
      %li
        %h2 Hantera administratörer
        %img{:src => "/images/screens/ny-admin.png"}
        %p Du lägger enkelt till nya administratörer och hanterar deras rättigheter via systemet. Även administratörer får uppgifter, om hur de loggar in och använder systemet, automatiskt via email.
      %li
        %h2 Statistik
        %img{:src => "/images/screens/statistik.png"}
        %p Du kan enkelt skapa kraftfull statistik för olika perioder och typer av besök. Det går också att dela in statistiken efter medlemsegenskaper så som kön och ålder eller besöksplats.
      %li
        %h2 Medlemsutskick
        %img{:src => "/images/screens/utskick.png"}
        %p Du kan snabbt och enkelt skapa kraftfulla indelningar bland dina medlemmar. Baserat på ålder kön intressen med mer. Till dessa grupper kan du sedan göra utskick via till exempel mail eller sms.
