.row
  .twelvecol.padd
    %h2 Prova på DMKS gratis!
    %p Vi på Mon7 vill att du ska veta vad du får för dina pengar, vi låter dig gärna testa DMKS i dess nuvarande tillstånd. Var dock medveten om att då du betäller kan vi om du vill anpassa systemet efter just dina behov.
.row
  .twelvecol.even
    %h3 Anmäl dig för att testa DMKS...
    %p Fyll i formuläret nedan så ringer vi upp dig när vi ordnat ett startat ett testkonto. I test kontot kan du pröva hela DMKS under en begränsad period. Under testtiden går det att skapa men inte att skicka utskick.
    %form#error_form{:method => "GET", :action => "/mail"}
      .field
        %label Namn:
        %input{:name => "name"}
      .field
        %label Företag:
        %input{:name => "company"}
      .field
        %label Telefon:
        %input{:name => "tel"}
      .field
        %label E-post:
        %input{:name => "email"}
        %input{:type => "hidden",:name => "subject",:value => "[DMKS error report]"}
        %button{:type => "submit"}
          Ansök om testkonto!
