.row
  .twelvecol
    %h2 Funtioner i DMKS
    %p DMKS erbjuder ett starkt basutbud av funktioner för att hantera medlemmar, aktiviteter och utskick. Här kan du ta en närmare titt på vad som redan finns i DMKS. Givetvis går systemet att anpassa för att fungera med alla typer av organisationer.
    %ul#funktioner
      %li.even
        %img.left{:src => "/images/icons/user.png", :alt => "Medlemsregistrering"}
        %h3 Medlemsregistrering
        %p Som admin kan du enkelt registrera medlemmar och administratörer i systemet. Ett email skickas sedan ut med uppgifter om hur användaren går vidare för att logga in. Det går att anpassa den information som lagras om medlemmar eller administratörer efter vad just era behov är.
      %li
        %img.left{:src => "/images/icons/visit.png", :alt => "Besöksregistrering"}
        %h3 Besöksregistrering
        %p Besöksregistrering sker genom att en medlem väljs, antingen genom en sökning eller med hjälp av medlemskortet. Därefter väljs en aktivitet eller ett besök som medlemmen skall registreras på. Varje aktivitet kostar eller ger en bonus, på så sätt kan man enkelt ta betalt för aktiviteter på olika sätt.
      %li.even
        %img.left{:src => "/images/icons/card.png", :alt => "Medlemskort"}
        %h3 Medlemsanpassade kort
        %p När du beställer DMKS kan du också beställa medlemsanpassade kort. Dessa kort kan innehålla vilka data du vill om medlemmen och du kan själv designa medlemskorten. Vi sköter allt med tryck av medlemskort. Det enda du behöver göra är att lägga en ny order via DMKS när du sammlat upp ett antal medlemmar som du vill trycka kort till.
      %li
        %img.left{:src => "/images/icons/webb.png", :alt => "webbaserat"}
        %h3 Webbaserat
        %p DMKS är helt webbaserat detta betyder att du som kund inte behöver besvära dig med installationer eller servrar. DMKS är plattformsoberoende och fungerar i de flesta moderna webbläsare och telefoner.
      %li.even
        %img.left{:src => "/images/icons/mail.png", :alt => "Utskick"}
        %h3 Medlemsutskick
        %p Att göra medlemsutskick från DMKS är både enkelt och kraftfullt. Du kan med vårt verktyg välja ut specifika grupper bland dina medlemmar. Utskicken kan sedan göras via till expempel email eller sms.
      %li
        %img.left{:src => "/images/icons/statistics.png", :alt => "Statistik"}
        %h3 Statistik
        %p Du kan enkelt hålla reda på antalet besökare under olika perioder med det inbyggda statistiksystemet. Här kan du snabbt och enkelt få en översikt över hur många besök du haft under en viss period. Det går även att dela in statistiken i olika kategorier baserat på till exempel aktiviteter eller medlemsegenskaper. 
