.row
  .twelvecol
    %h2 Våra tjänster
    %p Här hittar ni några av de vanligaste projekttyperna vi arbetar med. Vi tar givetvis även andra IT-relaterade uppdrag. Hör gärna av dig om du undrar hur vi kan hjälpa just din organisation.
    %p
    %ul#funktioner
      %li.even
        %h3 Systemutveckling
        %p Mon7 utvecklar verksamhetssystem för alla storlekar på organisationer. Vi har bland annat utvecklat system både till komuner och företag. Vi är duktiga på att hitta opensource lösningar och licensfria program vilket gör att vi kan hålla konkurenskraftiga priser. Vi har ett team av drivna och duktiga utvecklare och kan i större projekt ta in interaktions designers för att kunna anpassa systemen ännu bättre till er verksamhet.
      %li
        %h3 Programmering
        %p Vi utför programmerings arbeten i redan befintliga system, har ni länge drömt om en speciellfunktion eller har erat system en bugg som ni länge velat åtgärda? Vi hjälper er gärna att åtgärda detta.
      %li.even
        %h3 Projektledning, Förstudier och Kravanalys
        %p Har ni ett IT-projekt som behöver vägledning vi har duktiga systemutvecklare som är vana att se saker ur ett längre perspektiv. Vi erbjuder både rådgivning och uthyrning till IT-projekt.
      %li
        %h3 Drift och förvaltning
        %p Vi driftar och underhåller idag alla våra system och har god vana av detta. Vi vet hur man pressar priser och kan därför erbjuda billig drift och förvaltning.
      %li.even
        %h3 Utveckling av programprototyper
