.row
  .twelvecol
    %h2 Våra tjänster
    %p Här hittar ni några av de vanligaste projekttyperna vi arbetar med. Vi tar givetvis även andra IT-relaterade uppdrag. Hör gärna av dig om du undrar hur vi kan hjälpa just din organisation.
    %p
    %ul#funktioner
      %li.even
        %h3 Systemutveckling
      %li
        %h3 Programmering
      %li.even
        %h3 Projektledning
      %li
        %h3 Drift och förvaltning
      %li.even
        %h3 Utveckling av programprototyper
      %li
        %h3 Förstudier
      %li.even
        %h3 Kravanalys
