/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background: whiteSmoke url(/images/crosses.png);
	font-family: Helvetica, arial;
	color: #444;
}
#hd
{
	height: 6em;
	background-color: white;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
}
ul
{
 height: 2.4em;
 margin-top: 4em;
 position: relative;
 top: -8px;
 margin-left: 0;
 margin-right: 0;
 padding: 0;
}

#menu li
{
	display: inline-block;
	margin-right: 2px;
}

#menu a.button
{
	width: 5em;
	display: block;
	padding: 0.7em;
	padding-bottom: 0.5em;
	border: 1px solid #ACACAC;
	border-bottom: 0px;
	margin: 0;
	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 1em;
	font-family: arial;
}
#menu a.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 8%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color: #F53;
}
#menu a.button.active
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfbfbf), color-stop(1, #dddddd) );
	background:-moz-linear-gradient( center top, #bfbfbf 8%, #dddddd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#dddddd');
	background-color:#dfdfdf;
	color: #F53;
}
#bd
{
	min-height: 46em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
}
#contact
{
	min-height: 20em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;

}
.overflow
{
	overflow: visible;
}
#banner
{
	min-height: 20em;
}
#func
{
	min-height: 13em;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	background-color: #F53;
	color: white;
}
#bd h1,#bd h2,#bd h3,#bd h4,#bd h5,#bd h6
{
	margin: 20px;
	margin-bottom: 0;
}
#contact h1,#contact h2,#contact h3,#contact h4,#contact h5,#contact h6
{
	margin: 20px;
	margin-bottom: 0;
}
#contact p, #bd p , #contact label, #bd label
{
	margin: 20px;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1.3em;
}
#contact_form
{
	margin-top: 1em;
}
#contact_form label
{
	width: 4em;
	display: inline-block;
}
#contact_form input
{
	padding: 2px;
	width: 16em;
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#contact_form button
{
	padding: 0.5em;	
	font-size: 15px;
	font-weight: bold;
	float:right; 
	margin-right: 20px;
	margin-top: 20px;
	color: #444;
}
#contact_form button:hover
{
	color: #F53
}
#twitter
{
	min-height: 8em;
}
