/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background: whiteSmoke url(/images/crosses.png);
	font-family: 'Droid Sans', Tahoma, arial, sans-serif;
	color: #444;
	overflow-y: scroll;
}
#hd
{
	padding-top: 2em;
	background-color: white;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
}
ul
{
 margin-top: 1em;
 margin-left: 0;
 margin-right: 0;
 padding: 0;
 font-size: 1em;
 list-style: none;
}

#menu li
{
	display: inline-block;
	margin-right: 2px;
}

#menu a.button
{
	width: 5em;
	padding: 0.5em;
	padding-left: 0.9em;
	padding-right: 0.9em;
	display: block;
	border: 1px solid #ACACAC;
	border-bottom: 0px;
	margin: 0;
	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 1em;
}
#menu a.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 8%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color: #F53;
}
#menu a.button.active
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfbfbf), color-stop(1, #dddddd) );
	background:-moz-linear-gradient( center top, #bfbfbf 8%, #dddddd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#dddddd');
	background-color:#dfdfdf;
	color: #F53;
}
#bd
{
	min-height: 46em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
	padding-bottom: 30px
}
#contact
{
	min-height: 20em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;

}
.overflow
{
	overflow: visible;
}
#banner
{
	min-height: 20em;
}
#func
{
	min-height: 13em;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	background-color: #F53;
	color: white;
}
#bd h1,#bd h2,#bd h3,#bd h4,#bd h5,#bd h6
{
	margin: 20px;
	margin-bottom: 0;
}
#contact h1,#contact h2,#contact h3,#contact h4,#contact h5,#contact h6
{
	margin: 20px;
	margin-bottom: 0;
}
#contact p, #bd p , #contact label, #bd label
{
	margin: 20px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 1.3em;
}
#contact_form
{
	margin-top: 1em;
}
#contact_form label
{
	width: 4em;
	display: inline-block;
}
input, textarea
{
	padding: 2px;
	width: 14.5em;
	border: 2px inset #CCC;
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: 20px;
}
input:focus, textarea:focus
{
	border-color: #F53;
	-webkit-box-shadow: 0px 0px 0px 0px #aaaaaa;
	-moz-box-shadow: 0px 0px 0px 0px #aaaaaa;
	box-shadow: 0px 0px 0px 0px #aaaaaa;
	outline: 0;
}
button
{
	padding: 0.5em;	
	font-size: 15px;
	font-weight: bold;
	float:right; 
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #444;
}
button:hover
{
	color: #F53
}
#twitter
{
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
}
a
{
	color: #F53;
}
a:hover
{
	color: red;
}
#error_form label
{
	width: 4em;
	display: inline-block;
}
#error_form textarea
{
	width: 25em;
	min-height: 75px;
	font-size: 12px;
	display: inline-block;
	margin-left: 0px;
}
#error_form 
{
	width: 22em;
	margin-top: 1em;
}
#ft 
{
	margin-bottom: 20px;
}
#holder
{
	max-height: 20em;
	height: 20em;
}
#tour
{
	max-height: 50em;
	height: 50em;
}
#medlem
{
	color: #FFFFFF;
	background-image: url('/images/write.png');
}
#funktioner li
{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 2px solid #ACACAC;
}
.left
{
	float: left;
}
#funktioner img 
{
	margin: 20px;
	margin-top: 0px;
}
#funktioner li p
{
	margin-left: 104px;
}
.even
{
	color: white;
	background-color: #F53;
}
.padd
{
	padding-bottom: 20px;
}
.answer
{
	font-size: 15px;
	font-weight: normal;
}
.question
{
	font-size: 16px;
}
#imglogo
{
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	top: -2px;
	width: 95px;
	left: -10px;
}
#logo
{
	color: #000;
	font-size: 46px;
	margin: 0;
	padding: 0;
	position: relative;
	left: -5px;
}
#slogan
{
	color: #F53;
	font-size: 20px;
	margin: 0;
	padding: 0;
	position: relative;
	left: -0px;
}
#cards
{
position: relative;
top: -50px;
left: 325px;
width: 499px;
}
#stat-slide
{
	background-color: #d2f6f6;
}
#dmks-slide
{
	color: #F53;
	background-image: url('/images/printer.png');
}
#dmks-slide p
{
	color: #FFF;
	font-weight: bold;
}
#stat-img{
	float:right;
	position: relative;
	top: -30px;
}#firstpage-funktioner
{
	margin: 20px;
}#firstpage-funktioner li
{
width: 33%;
}
#firstpage-funktioner li, #firstpage-funktioner li img, #firstpage-funktioner li h4
{
	display: inline-block;	
}
#firstpage-funktioner h4
{
	margin: 3px;
}
#firstpage-funktioner li img
{
	position: relative;
	top: 10px;
}
a.nohover:hover
{
	text-decoration: none;
}
#ft
{
	display: block;
}
