/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
@font-face { font-family: Ubuntu; src: url('/fonts/Ubuntu-Medium.ttf'); }

body {
	background: whiteSmoke url(/images/7.png);
	font-family: 'Ubuntu', arial, sans-serif;
	color: #444;
	overflow-y: scroll;
}
p
{
	font-family: Arial, sans-serif;
}
#hd
{
	background: black url(/images/4.png);
	padding-top: 2em;
	background-color: white;
	-webkit-box-shadow: 0px 3px 5px 1px #777;
	-moz-box-shadow: 0px 3px 5px 1px #777;
	box-shadow: 0px 3px 5px 1px #777;
}
menu
{
  padding: 0;
  margin: 0;
}
menu li
{
	display: inline-block;
}

menu a.button
{
	padding: 0.5em;
	padding-left: 0.9em;
	padding-right: 0.9em;
	display: block;
	border: 1px solid #999;
	border-bottom: 0px;
	margin: 0;
	color: #777;
	-moz-box-shadow:inset 0px 1px 0px 0px #eee;
	-webkit-box-shadow:inset 0px 1px 0px 0px #eee;
	box-shadow:inset 0px 1px 0px 0px #eee;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #888), color-stop(1, #aaa) );
	background:-moz-linear-gradient( center top, #aaa 5%, #888 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#888');
	background-color:#aaaaaa;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}
menu a.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aaa), color-stop(1, #888) );
	background:-moz-linear-gradient( center top, #aaa 8%, #888 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#888');
	background-color:#dfdfdf;
	color: #222;
}
menu a.button.active
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #888), color-stop(1, #aaa) );
	background:-moz-linear-gradient( center top, #888 8%, #aaa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888', endColorstr='#aaa');
	background-color:#dfdfdf;
	color: #222;
}
#bd
{
	min-height: 46em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
	padding-bottom: 30px
}
#contact
{
	min-height: 20em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;

}
#contact h1,#contact h2,#contact h3,#contact h4,#contact h5,#contact h6
{
	margin: 20px;
	margin-bottom: 0;
}
#contact p, #bd p , #contact label, #bd label
{
	margin: 20px;
	margin-bottom: 0;
	line-height: 1.3em;
}
#contact_form
{
	margin-top: 1em;
}
#contact_form label
{
	width: 4em;
	display: inline-block;
}
#weknow
{
	min-height: 20em;
	margin-top: 2em;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;

}
#weknow h1,#weknow h2,#weknow h3,#weknow h4,#weknow h5,#weknow h6
{
	margin: 20px;
	margin-bottom: 0;
}
#weknow .field
{
  margin-top: 20px;
}
#weknow h3
{
  font-size: 1.4em;
  display: inline-block;
}
#weknow img
{
  height: 50px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
  top: 15px;
}
#weknow p, #bd p 
{
	margin: 20px;
	margin-bottom: 0;
	line-height: 1.3em;
}
.overflow
{
	overflow: visible;
}
#banner
{
	min-height: 20em;
}
#mon7
{
	background-image: url('/images/mon7office.png');
  text-shadow: #333 2px 2px 0px;
  color: #fff;
}
#valkommen
{
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	background-color: #005AAA;
	color: white;
}
#bd h1,#bd h2,#bd h3,#bd h4,#bd h5,#bd h6
{
	margin: 20px;
	margin-bottom: 0;
}
input, textarea
{
	padding: 2px;
	width: 55%;
	border: 2px inset #CCC;
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-right: 20px;
	margin-left: 20px;
}
input:focus, textarea:focus
{
	border-color: #005AAA;
	-webkit-box-shadow: 0px 0px 0px 0px #aaaaaa;
	-moz-box-shadow: 0px 0px 0px 0px #aaaaaa;
	box-shadow: 0px 0px 0px 0px #aaaaaa;
	outline: 0;
}
button
{
	padding: 0.5em;	
	font-size: 15px;
	font-weight: bold;
	float:right; 
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #444;
}
button:hover
{
	color: #005AAA
}
#twitter
{
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 3px 5px 1px #aaaaaa;
	-moz-box-shadow: 0px 3px 5px 1px #aaaaaa;
	box-shadow: 0px 3px 5px 1px #aaaaaa;
}
a
{
	color: #005AAA;
}
a:hover
{
	color: red;
}
#error_form label
{
	width: 4em;
	display: inline-block;
}
#error_form textarea
{
	width: 25em;
	min-height: 75px;
	font-size: 12px;
	display: inline-block;
	margin-left: 0px;
}
#error_form 
{
	width: 22em;
	margin-top: 1em;
}
#ft 
{
	margin-bottom: 20px;
}
#holder
{
	max-height: 20em;
	height: 20em;
}
#tour
{
	max-height: 50em;
	height: 50em;
}
#medlem
{
	color: #FFFFFF;
}
#funktioner li
{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 2px solid #ACACAC;
}
.left
{
	float: left;
}
#funktioner img 
{
	margin: 20px;
	margin-top: 0px;
}
.even
{
	color: white;
	background-color: #005AAA;
}
.padd
{
	padding-bottom: 20px;
}
.answer
{
	font-size: 15px;
	font-weight: normal;
}
.question
{
	font-size: 16px;
}
#imglogo
{
  width: 60%;
  position: relative;
  left: -10%;
  margin-bottom: 2em;
}
#logo
{
}
#slogan
{
}
#cards
{
position: relative;
top: -50px;
left: 325px;
width: 499px;
}
#stat-slide
{
	background-color: #d2f6f6;
}
#dmks-slide
{
	color: #005AAA;
	background-image: url('/images/printer.png');
}
#dmks-slide p
{
	color: #FFF;
	font-weight: bold;
}
#stat-img{
	float:right;
	position: relative;
	top: -30px;
}
a.nohover:hover
{
	text-decoration: none;
}
.line-break{
 clear: both; 
}
#ft{
  margin-bottom: 2em;
}
#bd p.adress
{
  margin-bottom: 0;
  margin-top: 0;
}
#bd .contact label
{
  width: auto;
}
#agile
{
	background-image: url('/images/agile.png');
  color: #005AAA;
}
#agile p
{
  color: #333;
}
#scale
{
	background-image: url('/images/scale.png');
  color: #fff;
  text-shadow: #000 1px 1px 0px;
}
#cloud
{
	background-image: url('/images/cloud.png');
  color: #fff;
  font-weight: bold;
  text-shadow: #000 1px 1px 0px;
}
